<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap">
    <link rel="stylesheet" href="/css/show.css">
    <title>Borrowings</title>
</head>
<body>
<h1 class="header-title">My Borrowings</h1>
<!-- Таблица -->
<div class="table-container">
    <table class="styled-table">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Copy</th>
            <th>Email</th>
            <th>Status</th>
            <th>Borrow Date</th>
            <th>Return Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="el, iter : ${borrowings}">
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${el.getCopy().getBook().getTitle()}"></td>
            <td th:text="${el.getCopy().getCopyNumber()}"></td>
            <td th:text="${el.getPerson().getEmail()}"></td>
            <td th:text="${el.getCopy().getStatus()}"></td>
            <td th:text="${#temporals.format(el.getBorrowDate(), 'dd.MM.yyyy')}"></td>
            <td th:text="${#temporals.format(el.getReturnDate(), 'dd.MM.yyyy')}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>