<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная страница</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap">
  <link rel="stylesheet" href="/css/main-page.css"> <!-- Подключение CSS -->
</head>
<body>
<h1 class="header-title">Pick an application mode</h1>

<!-- Кнопки выбора режима -->
<div class="button-container">
  <button class="button" onclick="enterAsLibrarian()">Librarian</button>
  <button class="button" onclick="showEmailForm()">User</button>
</div>

<!-- Форма для ввода email -->
<div class="email-form" id="email-form">
  <form action="/user" method="post">
    <label for="email">Enter your email:</label>
    <input type="email" id="email" name="email" placeholder="example@example.com" required/>
    <button type="submit" class="user">Enter</button>
  </form>
</div>

<script src="/js/user_interaction_handlers.js"></script>
</body>
</html>