<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap">
    <link rel="stylesheet" href="/css/add-update.css">
    <title>Add Book</title>
</head>
<body>
<h1>Add Book</h1>
<form method="post" class="form-container">
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" th:value="${book?.title}" required/>
    </div>
    <div>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" th:value="${book?.author}" required/>
    </div>
    <div>
        <label for="publisher">Publisher:</label>
        <select id="publisher" name="publisher.id">
            <option th:each="publisher : ${publishers}"
                    th:value="${publisher.id}"
                    th:text="${publisher.name}"
                    th:selected="${book?.publisher?.id == publisher.id ? 'selected' : ''}">Publisher</option>
        </select>
    </div>
    <div>
        <label for="publicationYear">Publication Year:</label>
        <input type="number" id="publicationYear" name="publicationYear"
               th:value="${book?.publicationYear}" min="0" required/>
    </div>
    <div>
        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" name="isbn" th:value="${book?.isbn}" required/>
    </div>
    <div class="form-actions">
        <button type="submit" class="submit-btn">Save</button>
        <button type="button" class="cancel-btn" th:onclick="|location.href='/books'|">Cancel</button>
    </div>
</form>
</body>
</html>