<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="gradient-background">
    <div class="centered-content">
        <h1>Tables in database</h1>
        <div class="button-grid">
            <a href="/admin/books" class="button">BOOK</a>
            <a href="/admin/copies" class="button">COPY</a>
            <a href="/admin/borrowings" class="button">BORROWING</a>
            <a href="/admin/librarians" class="button">LIBRARIAN</a>
            <a href="/admin/users" class="button">USER</a>
            <a href="/admin/publishers" class="button">PUBLISHER</a>
        </div>
    </div>
</div>
</body>
</html>